<app-nav-bar [count]="count" ></app-nav-bar>
<main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <div class="main">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt" style="color: rgb(189 0 56 / 90%); font-weight: bolder;"><i class="el el-shopping-cart"></i></h1>
              </div>
            </div>
            <hr class="divider-w pt-20">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-striped table-border checkout-table">
                  <tbody>
                    <tr style="background-color:rgb(189 0 56 / 90%); color:white">
                      <th></th>
                      <th class="hidden-xs">Item</th>
                      <th class="hidden-xs">Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th>Color</th>
                      <th>Size</th>
                      <th>Remove</th>
                    </tr>

                    <tr *ngFor="let item of items">

                      <td class="hidden-xs"><a href="#"><img [src]="getImage(item)" alt="Accessories Pack"/></a></td>

                      <td>
                        <h5 class="product-title font-alt">{{item.name}}</h5>
                      </td>

                      <td class="hidden-xs">
                        <h5 class="product-title font-alt">PKR {{item.price}}</h5>
                      </td>

                      <td>
                        <input min="1" (change)="updateQuantity($event,item)" type="number" value={{item.quantity}}>
                      </td>

                      <td>
                        <h5 class="product-title font-alt">PKR {{item.price * item.quantity}}</h5>
                      </td>
                      <td >
                        <select (change)="setItemColor(item,$event.target)" *ngIf="(item.color &&item.color !='None')">
                          <option>Select Color</option>
                          <option [selected]="item.color.split(',').length==1"  *ngFor="let color of getColors(item.color)" >
                            {{color}}
                          </option>
                        </select>
                      </td>
                      <td >
                        <select (change)="setItemSize(item,$event.target)" *ngIf="(item.size && item.size!='None')">
                          <option>Select Size</option>
                          <option [selected]="item.size.split(',').length==1"  *ngFor="let size of getSizes(item.size)" >
                            {{size}}
                          </option>
                        </select>
                      </td>
                      <td class="pr-remove"><a (click)="remove(item)" title="Remove"><i class="fa fa-times"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <hr class="divider-w">
            <div class="row mt-70">
              <div class="col-sm-5 col-sm-offset-7">
                <div class="shop-Cart-totalbox">
                  <h4 class="font-alt">Cart Totals</h4>
                  <table class="table table-striped table-border checkout-table">
                    <tbody>
                      <tr>
                        <th>Cart Subtotal :</th>
                        <td>PKR {{cart.CartSubtotal}}</td>
                      </tr>
                      <tr>
                        <th>Delivery Charges :</th>
                        <td>PKR {{cart.deliveryCharges}}</td>
                      </tr>
                      <tr class="shop-Cart-totalprice">
                        <th>Total :</th>
                        <td>PKR {{cart.total}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-lg btn-block btn-round btn-d" (click)="validateCartItems()">Proceed to Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <app-footer></app-footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
