<app-loader></app-loader>
<app-nav-bar [count]="count" ></app-nav-bar>
<div class="main">
  <section class="home-section home-fade home-full-height module bg-dark-60 shop-page-header"
    style="background-image: url('{{product.contentType+product.image}}');" id="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">{{product.name}}</h2>
        </div>
      </div>
    </div>
  </section>
    <!-- <section class="home-section home-fade home-full-height" id="home">
      <div class="hero-slider">
        <ul class="slides" style="padding-left: 0px;">
          <li class="bg-dark-30 bg-dark shop-page-header"
            style="background-image:url('{{product.contentType+product.image}}');">
            <div class="titan-caption">
              <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">{{product.category.name}}</div>
                <div class="font-alt mb-30 titan-title-size-4"> {{product.name}}</div>
                <div class="font-alt mb-40 titan-title-size-1">Your online fashion destination</div><a
                  class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section> -->
  <section class="module-small">
    <div class="container">
      <form class="row">
        <div class="col-sm-4 mb-sm-20">
          <select class="form-control">
            <option selected="selected">Default Sorting</option>
            <option>Popular</option>
            <option>Latest</option>
            <option>Average Price</option>
            <option>High Price</option>
            <option>Low Price</option>
          </select>
        </div>
        <div class="col-sm-2 mb-sm-20">
          <select class="form-control">
            <option selected="selected">Woman</option>
            <option>Man</option>
          </select>
        </div>
        <div class="col-sm-3 mb-sm-20">
          <select class="form-control">
            <option selected="selected">All</option>
            <option>Coats</option>
            <option>Jackets</option>
            <option>Dresses</option>
            <option>Jumpsuits</option>
            <option>Tops</option>
            <option>Trousers</option>
          </select>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
        </div>
      </form>
    </div>
  </section>

  <hr class="divider-w">
  <section class="module-small">
    <div class="container">
      <div class="row multi-columns-row">
        <ng-container *ngFor="let item of productItems">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="shop-item">
              <div class="shop-item-image"><img [src]="getImage(item)" alt="Accessories Pack" />
                <div class="shop-item-detail">

                  <!-- <a [routerLink]="['/itemImages',item.id]"
                    class="btn btn-round btn-b"><span class="icon-basket">
                      View Images
                    </span>
                  </a>
                    <br> -->

                    <a
                    (click)="itemDetail(item,product.categoryId,product.id)"
                    [routerLink]
                    class="btn btn-round btn-b"><span class="icon-basket">
                      View Item
                    </span>
                  </a>
                    <br>
                    <br>
                    <a (click)="saveItem(item)"

                     class="btn btn-round btn-b">
                     <span *ngIf="item.isAddedToCart" class="icon-basket">
                      Item Added to Cart
                    </span>
                    <span *ngIf="!item.isAddedToCart" class="icon-basket">
                      Add to Cart
                    </span>
                  </a>
                  </div>
              </div>
              <h4 class="shop-item-title font-alt image-name"><a class="image-text" [routerLink]="['/item',item.id]">{{item.name}}</a></h4>
            <span class="image-text" > RS: {{item.price}}</span>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active"
              href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i
                class="fa fa-angle-right"></i></a></div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
