<section class="home-section home-fade home-full-height" id="home">
  <div class="hero-slider">
    <ul class="slides" style="padding-left: 0px;">
      <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('/assets/images/shop/slider1.png');">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">This is Virtual Mart</div>
            <div class="font-alt mb-30 titan-title-size-4"> VIRTUAL MART</div>
            <div class="font-alt mb-40 titan-title-size-1">Your online Market Destination</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('/assets/images/shop/slider3.png');">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1"> This is Virtual Mart</div>
            <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
