<app-nav-bar [count]="count"

(showHome)="showHomePage()"
(showCart)="onShowCart()"
(showLogin)="onShowLogin()"
(showSignUp)="onShowSignUp()"
(showOrders)="showCustomerOrders()">

</app-nav-bar>

<app-loader></app-loader>

<app-slider [sliderImages]="sliderImages"></app-slider>
<div *ngIf="showHome" class="main">
  <section class="module-small">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Latest in clothing</h2>
        </div>
      </div>
      <div class="row multi-columns-row">

        <ng-container *ngFor="let category of categories">
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="shop-item">
              <div class="shop-item-image"><img [src]="getImage(category)" alt="Accessories Pack" />
                <div class="shop-item-detail"><a (click)="showCategoryProdouct(category.id)" [routerLink]
                    class="btn btn-round btn-b"><span class="icon-basket">View Products</span></a></div>
              </div>
              <h4 class="shop-item-title font-alt image-name">
                <a class="image-text" [routerLink]="['/categoryProducts',category.id]">{{category.name}}</a>

              </h4><span class="image-text">
                {{category.products.length}} Products Avalible
              </span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>

<app-category-products

*ngIf="showProducts"
[categoryProducts]="categoryProducts" [category]="category"
(change)="showProdouctItems($event)"
(goBack)="back($event)"
>

</app-category-products>


<app-product-items

*ngIf="showItems"
[productItems]="productItems" [product]="getProduct()"
(changeCartCount)="updateCartCount()"
(change)="showtItemDetail($event)"
(goBack)="back($event)">

</app-product-items>


<app-item-detail

*ngIf="showItemDetail"
[productItems]="productItems" [item]="getItem()" [images]="images"
(changeCartCount)="updateCartCount()"
(change)="showtItemDetail($event)"
(view)="showtItemDetail($event)"
(goBack)="back($event)">

</app-item-detail>

<app-order

*ngIf="showOrders"
[orders]="orders"
(goBack)="back($event)"
>

</app-order>

<app-cart

*ngIf="showCart"
[itemsInMemory]="cartItems"
[items]="cartItems"
(goBack)="back($event)"
(onCheckout)="onCheckout($event)">

</app-cart>

<app-customer-detail

*ngIf="showCustomerDetail"
[customer]="customer"
(onShowOrders)="newOrders()">

</app-customer-detail>

<app-sign-up

*ngIf="showSignUp"
(showCustomerDetail)="showCustomerDetailComponent()"
(showHome)="showHomePage()">

</app-sign-up>

<app-customer-login

*ngIf="showLogin"

(showCart)="onShowCart()">

</app-customer-login>


<app-profile

*ngIf="showProfile"

(showProfile)="showCustomerProfile()">

</app-profile>


<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
