<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
          class="icon-bar"></span></button><a class="navbar-brand" [routerLink]="['/home']" >VIRTUAL MART</a>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">

        <ng-container *ngIf="!isAutherizeUser()">
          <li ><a [routerLink] (click)="onShowLogin()" >Login</a></li>
          <li ><a [routerLink] (click)="onShowSignUp()" >Sign Up</a></li>
        </ng-container>

        <li><a (click)="onShowHome()" [routerLink]>Home</a>
        </li>

        <li>
          <a [routerLink]
          (click)="onShowCart()"
          >
          Cart
            <span class="icon-basket"></span>
            <span *ngIf="count>0" class="badge badge-danger badge-js">{{count}}</span>
          </a>
        </li>

        <li *ngIf="isAutherizeUser()" class="dropdown"><a [routerLink] class="dropdown-toggle" data-toggle="dropdown">{{getName()}}</a>
          <ul class="dropdown-menu">
            <li class="background-color"><a [routerLink] (click)="onShowProfile()" [routerLink]>Profile</a></li>
            <li class="background-color"><a [routerLink] (click)="onShowOrders()" [routerLink]>Orders</a></li>
            <!-- <li class="background-color"><a href="documentation.html#mailchimp">Messages</a></li> -->
            <li class="background-color"><a [routerLink] (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
