<div class="col-6 stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Login</h4>
      <form class="forms-sample" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">UserName</label>
          <div class="col-sm-9">
            <input formControlName="userName" type="email" class="form-control" placeholder="Enter Username">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-2">Submit</button>
        <button type="button" class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
