<app-nav-bar [count]="0" ></app-nav-bar>
<main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
<section class="module bg-dark-30 about-page-header" data-background="src/app/assets/images/about_bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1 class="module-title font-alt mb-0">Profile</h1>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h4 class="font-alt mb-0">Profile</h4>
        <hr class="divider-w mt-10 mb-20">

        <form class="form" role="form" [formGroup]="form" (ngSubmit)="submit()">

          <div class="form-group row">

            <div class="col-md-5">
            <label>Name</label>
              <input formControlName="name" class="form-control input-lg"  type="text" placeholder="Name" value="{{customer.name}}"/>
            </div>

            <div class="col-md-5">
              <label>Father Name</label>
              <input formControlName="fatherName" class="form-control input-lg"  type="text" placeholder="Father Name" value="{{customer.fatherName}}"/>
            </div>
          </div>

          <div class="form-group row">

            <div class="col-md-5">
              <label>Email Address</label>
              <input formControlName="emailAddress" class="form-control input-lg"  type="text" placeholder="Email Address" value="{{customer.emailAddress}}" />
            </div>

            <div class="col-md-5">
              <label>Mobile No</label>
              <input formControlName="mobileNo" class="form-control input-lg" type="text" placeholder="Mobile No"/>
            </div>
          </div>

          <div class="form-group">
            <label>Address</label>
            <input formControlName="address" class="form-control input-lg" type="text" placeholder="Home Address"/>
          </div>
          <br>
          <hr>
          <button type="submit" class="btn btn-lg btn-block btn-round btn-d">Save</button>
        </form>
      </div>
    </div>
  </div>
</section>
